# See the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    # Reference for the directories option:
    # https://docs.github.com/en/code-security/reference/supply-chain-security/dependabot-options-reference#directories-or-directory--
    directories:
      # Makes Dependabot search /.github/workflows, see reference above
      - /
      # Makes Dependabot search all of our gh-actions directories (assuming we
      # don't nest them further than 3 levels deep).
      - gh-actions/*
      - gh-actions/*/*
      - gh-actions/*/*/*
    groups:
      gh-actions:
        patterns: [ "*" ]
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps(actions)"
